- var website = basics.email.split("@")[1] 
aside.general-info.column.is-4-tablet.is-3-widescreen
    main.aside-card-container.title.highlight.profile-widget
        h1 #{basics.name} 
        h1 <em> #{basics.headline} </em>
    main.aside-card-container.contact.highlight
        h3 Contact
        div.highlight
            h4 Address
            h5.right#address #{basics.location.city}, #{basics.location.region}
            h4 Phone
            h5.right#phone 
                a(title="Phone number" href='tel:' + basics.phone) #{basics.phone} 
            h4 E-mail
            h5.right#email 
                a(title="Email" href="mailto:" + basics.email) #{basics.email}
            h4 Linkedin
            h5.right#linkedin 
                a(title="LinkedIn" href="https://www.linkedin.com/in/" + basics.profiles[0].username) /#{basics.profiles[0].username}
            h4 Website & Blog
            h5.right#website 
                a(title="Website" href="https://www." + website ) | #{website}
            h5.right#blog 
                a(title="Blog" href="https://www." + website + "/blog") | #{website}/blog
    main.aside-card-container.summary.highlight
        h3 Summary
        div.highlight
            h5.highlight #{basics.summary.split("*").join("")}
    main.aside-card-container.skills.highlight
        h3 Skills
        ul.skills
            each skill in sections.skills.items
                li.skill
                    h4 #{skill.name}
                    h5 #{skill.level}

    main.aside-card-container.interests.highlight
        h3 Interests
        ul.right.highlight#interests
            each interest in sections.interests.items
                li.interest
                    h4 #{interest.name}
                
