- var website = basics.email.split("@")[1] 
aside.general-info.column.is-4-tablet.is-3-widescreen
    main.aside-card-container.profile.highlight
        h3.username.has-text-weight-bold #{basics.name} 
        h3.has-text-weight-bold <em> #{basics.headline} </em>
    main.aside-card-container.contact.highlight
        h4.has-text-weight-bold Contact
        div.highlight
            h4 Address
            p.has-text-right#address #{basics.location.city}, #{basics.location.region}
            h4 Phone
            p.has-text-right#phone 
                a(title="Phone number" href='tel:' + basics.phone) #{basics.phone} 
            h4 E-mail
            p.has-text-right#email 
                a(title="Email" href="mailto:" + basics.email) #{basics.email}
            h4 Linkedin
            p.has-text-right#linkedin 
                a(title="LinkedIn" href="https://www.linkedin.com/in/" + basics.profiles[0].username) /#{basics.profiles[0].username}
            h4 Website & Blog
            p.has-text-right#website 
                a(title="Website" href="https://www." + website ) | #{website}
            p.has-text-right#blog 
                a(title="Blog" href="https://www." + website + "/blog") | #{website}/blog
    main.aside-card-container.summary.highlight
        h4.has-text-weight-bold Summary
        div.highlight
            p.has-text-justified.highlight #{basics.summary.split("*").join("")}
    main.aside-card-container.skills.highlight
        h4.has-text-weight-bold Skills
        ul.skills
            each skill in sections.skills.items
                li.skill
                    h4 #{skill.name}
                        ul.has-text-centered
                            each s in skill.level.split(",")
                                span.tag.post-item-tag #{s}

    main.aside-card-container.interests.highlight
        h4.has-text-weight-bold Interests
        ul.has-text-centered.highlight#interests
            each interest in sections.interests.items
                li.interest
                    span.tag.post-item-tag #{interest.name}
                
