section.column
    article.work-history.article-item-card
        section.content.article-card-content.p-4.pb-5
            h2 Work History
            ul.works
                each work in sections.work.items
                    li.work
                        h4 #{work.name}
                        .dates
                            time.start-date #{work.date.start}
                            span  -
                            time.end-date #{work.date.end}
                        ul.summary
                            each statement in work.summary.split("- ").slice(1)
                                li.statement #{statement} 

    article.education.article-item-card
        section.content.article-card-content.p-4.pb-5
            h2 Education
            ul.educations
                each education in sections.education.items
                    li.education
                        .dates
                            time.start-date #{education.date.start}
                            span  -
                            time.end-date #{education.date.end}
                        h4 #{education.area}
                        h5 #{education.institution}

    article.certifications.article-item-card
        section.content.article-card-content.p-4.pb-5
            h2 Certifications
            ul.certifications
                each certification in sections.certifications.items
                    li.certification
                        h4 #{certification.name}
                        h5 #{certification.issuer}
