- var social = { twitter: "guidotorresmx", github: "guidotorresmx", instagram: "guidotorresmx", linkedin: "guidotorresmx", facebook: "guidotorresmx", mail: "marco@guidotorres.mx", phone: "+16479066194", whatsapp: "16479066194", telegram: "guidotorresmx"}

a.button.is-dark.no-hover(title="twitter" target="_blank" rel="noopener nofollow" href=`//twitter.com/${social.twitter}`)
    i.fa.fa-brands.fa-twitter.icon.is-flex
a.button.is-dark.no-hover(title="github" target="_blank" rel="noopener nofollow" href=`//github.com/${social.github}`)
    i.fa.fa-brands.fa-github.icon.is-flex
a.button.is-dark.no-hover(title="instagram" target="_blank" rel="noopener nofollow" href=`//www.instagram.com/${social.instagram}`)
    i.fa.fa-brands.fa-instagram.icon.is-flex
a.button.is-dark.no-hover(title="linkedin" target="_blank" rel="noopener nofollow" href=`//www.linkedin.com/in/${social.linkedin}`)
    i.fa.fa-brands.fa-linkedin.icon.is-flex
a.button.is-dark.no-hover(title="facebook" target="_blank" rel="noopener nofollow" href=`//www.facebook.com/${social.facebook}`)
    i.fa.fa-brands.fa-facebook.icon.is-flex
a.button.is-dark.no-hover(title="mail" target="_blank" rel="noopener nofollow" href=`mailto:${social.mail}`)
    i.fa.fa-solid.fa-envelope-open.icon.is-flex
a.button.is-dark.no-hover(title="whatsapp" target="_blank" rel="noopener nofollow" href=`//wa.me/${social.phone}`)
    i.fa.fa-brands.fa-whatsapp.icon.is-flex
a.button.is-dark.no-hover(title="telegram" target="_blank" rel="noopener nofollow" href=`//t.me/${social.telegram}`)
    i.fa.fa-brands.fa-telegram.icon.is-flex
        
